github_api_token: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  65323936623766656635643265383735633030653862386133316139303734636535643838383432
  6530313938633736376438313764316536326632386634650a633363333737353538643031353861
  38663362313632336135623530646663306132383436343038303630313465316236646535303938
  6164623232346230660a393037366339633362346535363265306235326536366663616637383332
  34366634336163366264333430666665333931323139383966373232333562333032333665373964
  6236643330633934373632306366303231303762353537613438
database_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  38316364323832646262313431633330353538303836636139666464396362653562306561636335
  6533643330383438316363663131666537313435626637370a303132373437396164663638346161
  35323031386166373763343836666233623435376133666638346562313732653435303130656165
  3937646436373636390a306531313133323430303865303666666639386665343037383165323833
  62383834356366366466386135656330393932663431623631356434663433316434613034613534
  30313135373230383538646431323937336466383337316236663165643266663666353234656235
  633939653332313132633463376133323865

support_server_name: triplea_support_server
database_port: 5432
database_host: localhost
support_server_port: 9010

database_name: "{{ support_server_name }}"
database_user: "{{ support_server_name }}"
flyway_image: "ghcr.io/triplea-game/support-server/flyway:latest"

url_path: /support
server_port: 9010
server_name: "{{ support_server_name }}"
docker_image: "ghcr.io/triplea-game/support-server/server:latest"

service_exec_start: |
      docker run \
      --name {{ server_name }} \
      --rm \
      --network host \
      -e HTTP_PORT="{{ server_port }}" \
      -e DB_URL="{{ database_host }}:{{ database_port }}/{{ database_name }}" \
      -e DATABASE_USER="{{ database_user }}" \
      -e DATABASE_PASSWORD="{{ database_password }}" \
      -e GITHUB_API_TOKEN="{{ github_api_token }}" \
      -e ERROR_REPORTING_ENABLED=true \
      -e MAP_INDEXING_ENABLED=true \
      -e MAP_INDEXING_PERIOD_MINUTES=90 \
      -e MAP_INDEXING_DELAY_SECONDS=5 \
      {{ docker_image }}
service_exec_stop: docker stop {{ server_name }}