# Runs when main branch is updated.
# Creates docker image & publishes to docker packages
# Uses ansible to setup & configure production
# Executes a blue/green deployment of the latest code
name: Main Branch Build
on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    env:
      IS_MAIN_BUILD: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
      - uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY_SUPPORT_SERVER_USER_PRIVATE_SSH_KEY }}
      - name: Login to GitHub Container Registry
        if: ${{ env.IS_MAIN_BUILD }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Run PR tests
        run: make check
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: build and push docker containers
        if: ${{ env.IS_MAIN_BUILD }}
        run: make docker-push

      - name: Update test
        if: ${{ env.IS_MAIN_BUILD }}
        run: |
          cat .github/workflows/host-keys/test.triplea-game.org >> ~/.ssh/known_hosts
          pip install ansible
          ansible --version
          make deploy-test SSH_USER=deploy-support-server
        env:
          TRIPLEA_ANSIBLE_VAULT_PASSWORD: ${{ secrets.TRIPLEA_ANSIBLE_VAULT_PASSWORD }}

      - name: Update production
        if: ${{ env.IS_MAIN_BUILD }}
        run: |
          cat .github/workflows/host-keys/prod.triplea-game.org >> ~/.ssh/known_hosts
          pip install ansible
          ansible --version
          make deploy-prod SSH_USER=deploy-support-server
        env:
          TRIPLEA_ANSIBLE_VAULT_PASSWORD: ${{ secrets.TRIPLEA_ANSIBLE_VAULT_PASSWORD }}

